# ignore all
*

# upload all directories
# !/*/
# !/*/**/

# only upload directories below
!/BasicKnowledge/
!/BasicKnowledge/**/
!/KY/
!/KY/**/
!/Leetcode/
!/Leetcode/**/
!/PAT/
!/PAT/**/
!/Playground/
!/Playground/**/
!/RJ/
!/RJ/**/
!/Tools_function/
!/Tools_function/**/
!/algorithm/
!/algorithm/**/

# only upload file types below
!*.c
!*.h
!*.cpp
!*.py
!Makefile
!*.md
!CMakeLists.txt
!*.sh

# special files to be uploaded
!.gitignore
